@font-face {
    font-family: Camping;
    src: url(Camping.otf);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

a {
    color: #596D48;
}

:focus {
    filter: drop-shadow(0px 3px 6px #000000);
}

html {
    height: 100%;
}

body {
    background-color: rgb(38, 59, 28);
}

.main {
    justify-content: center;
    display: flex;
    height: 100%;
}

.left {
    background-image: url("journey-1130732_1280.jpg");
    background-size: fill;
    max-width: 50%;
    min-width: 20%;
    padding: 1em;
    height: 960px;
    box-shadow: inset 1px 1px 10px 1px rgb(0, 0, 0);
}

.mountainsimg {
    width: 50%;
}

.innerleft {
    background-image: url("animal-1297209_1280.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.right {
    max-width: 600px;
    background-color: rgb(231, 216, 196);
    overflow: hidden;
    padding: 1em;
    box-shadow: inset 1px 1px 10px 1px rgb(0, 0, 0);

}

.headline {
    margin-top: 1em;
    padding: 1em;
    font-family: Camping, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif\;
}

.form1 {
    display: flex;

}

.formlist {
    padding: 1em;

}

.emp {
    font-style: bold;
    font-size: larger;
}

li {
    display: flex;
    justify-content: right;
}

input {
    border-radius: 1em;
    opacity: 50%;
    margin-left: 3em;
}

@media only screen and (max-width: 600px) {
    .right {
        margin-left: 0px;
        position: absolute;
        width: 100%;
    }
    li {
        justify-content: left;
    }
   
    .form1 {
        display: flex;
        flex-direction: column;
    }
    .main {
        padding: 1em;
    }
}

button {
    background-color: #596D48;
    color: rgb(250, 230, 206);
    box-shadow: inset 1px 1px 10px 1px rgb(0, 0, 0);
}